/* Make the page fullscreen */
html, body, #root {
  height: 100%;
  margin: 0;
}

.fullscreen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Ensure full viewport width */
  height: 100vh; /* Ensure full viewport height */
  background-color: #0b0a09; /* Neutral color */
  color: #d27532; /* Primary color */
}

/* Adjustments for form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Limit maximum width */
  padding: 20px;
  background-color: #131114; /* Dark background for form */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Horizontal form controls */
.horizontal-form-controls {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Take full width */
  margin-bottom: 20px; /* Add spacing below the controls */
}
