/* Make the page fullscreen */
html, body, #root {
  height: 100%;
  margin: 0;
}

.fullscreen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; /* Ensure full viewport width */
  height: 100vh; /* Ensure full viewport height */
  background-color: #0b0a09; /* Neutral color */
  color: #d27532; /* Primary color */
}

/* Adjustments for form container */
.form-container {
  width: 90vw; /* Increase width to occupy more of the screen */
  max-width: 1200px; /* Increase maximum width */
  padding: 40px; /* Increase padding */
  background-color: #131114; /* Dark background for form */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style for individual form controls */
.form-control-item {
  margin-bottom: 16px; /* Add spacing between form controls */
}
