/* Ensure full height for the html, body, and root elements */
html, body, #root {
  height: 100%;
  margin: 0;
}

/* Fullscreen container */
.page-container {
  display: flex;
  flex-direction: row; /* Align items in a row */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-color: #0b0a09; /* Background color */
  color: #d27532; /* Text color */
  padding: 20px;
  box-sizing: border-box; /* Ensure padding does not affect dimensions */
}

/* Title style */
.page-container h1, .page-container h2 {
  color: #d27532; /* Primary color for title */
  margin-bottom: 20px;
  text-align: center;
}

/* Table container styling */
.table-container {
  background-color: #131114; /* Neutral color background for the table */
  border-radius: 8px;
  padding: 20px; /* Ensure padding around the table */
  box-sizing: border-box; /* Ensure padding does not affect dimensions */
}

/* Table styling */
.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th, .table-container td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #d27532; /* Primary color border */
}

.table-container th {
  background-color: #1d26b5; /* Info color for header background */
  color: #ffffff; /* White text color */
}

.table-container td {
  background-color: #131114; /* Neutral color for cell background */
  color: #ffffff; /* White text color */
}

/* Styling for table rows on hover */
.table-container tbody tr:hover {
  background-color: #333; /* Darker shade for hover effect */
}

/* Styling for table footer */
.table-container tfoot {
  background-color: #1d26b5; /* Info color for footer background */
  color: #ffffff; /* White text color */
}

.table-container tfoot th {
  font-weight: bold;
  text-align: center;
}

/* Spacing for image */
.image-container {
  margin-left: 80px; /* Increased margin for more space */
}
